---
layout: default
title: Shake-SE.com | Simply Complex
description: Simply Complex
tags: [shakese, shake-se, shake-se.com, sony, sony ericsson, flash menus, flash themes, flash lite]
---
<main id="content" class="col-md-8 col-lg-9 content-area" role="main">
    <div class="row isotope">
        {% for post in paginator.posts reversed %}
            <div class="col-xs-6 col-lg-4 isotope-item">
                <article class="box">
                    <div class="entry-thumbnail">
                        <a href="{{ post.url }}" title="{{ post.title }}">
                            <img src="{{ post.thumbnail }}" class="attachment-thumb-small size-thumb-small wp-post-image" alt="{{ post.title }}">
                        </a>
                    </div>

                    <header class="entry-header">
                        <h2 class="entry-title"><a href="{{ post.url }}" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a></h2>

                        <div class="entry-meta">
                            <span class="posted-on">
                                <a href="{{ post.url }}" title="{{ post.date }}" rel="bookmark">
                                    <time class="entry-date published" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
                                </a>
                            </span>

                            <span class="comments-link">
                                <a href="{{ post.url }}#disqus_thread">Leave a comment</a>
                            </span>
                        </div>
                    </header>

                    <div class="clearfix entry-summary">
                        <p>
                            {{ post.excerpt | remove: '<p>' | remove: '</p>' }}...
                            <a href="{{ post.url }}" class="more-link">more <span class="meta-nav">→</span></a>
                        </p>
                    </div>

                    <footer class="entry-meta entry-footer">
                        <span class="cat-links">
                            {% for category in post.categories %}
                                {% capture cat-parent %}{% if category contains "Themes" %}themes/{% elsif category contains "Wallpapers" %}wallpapers{% else %}{% endif %}{% endcapture%}
                                <a href="{{ site.baseurl }}/category/{{ cat-parent }}{{ category | replace: ' ', '-' | downcase }}" rel="category tag">{{ category }}</a>
                            {% endfor %}
                        </span>
                    </footer>
                </article>
            </div>
        {% endfor %}
    </div>

    <nav role="navigation" id="nav-below" class="clearfix paging-navigation">
        {% if paginator.previous_page %}
            <div class="nav-previous">
                <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}">
                    <span class="meta-nav">←</span>
                </a>
            </div>
        {% endif %}

        {% if paginator.next_page %}
            <div class="nav-next">
                <a href="{{ site.baseurl }}{{ paginator.next_page_path }}">
                    <span class="meta-nav">→</span>
                </a>
            </div>
        {% endif %}
    </nav>
</main>
