        <footer id="footer" class="site-footer" role="contentinfo">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 site-info">
                        Copyright © 2008 - {{ site.time | date: '%Y' }} {{ site.name }} | {{ site.tagline }}
                    </div>

                    <div class="col-sm-6 site-credit">
                        Based on theme Pieces by <a href="http://csthemes.com" target="_blank">csThemes</a>
                    </div>
                </div>
            </div>
        </footer>

        <script id="dsq-count-scr" src="//shake-se.disqus.com/count.js" async></script>
    </body>
</html>