<div id="secondary" class="col-md-4 col-lg-3 site-sidebar widget-area" role="complementary">
    <aside class="widget box widget_text">
        <div class="textwidget">
            <a href="https://www.youtube.com/user/Thekr8ter" target="_blank">
                <img src="{{ site.baseurl }}/assets/images/youtube.png" width="32px" height="32px" alt="View our YouTube channel" original-title="View our YouTube channel" class="social-links">
            </a>
        </div>
    </aside>

    <aside id="search-3" class="widget box widget_search">
        <form role="search" method="get" class="search-form" action="{{ site.baseurl }}/search.html">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search …" value="" name="query" title="Search for:">
            </div>

            <div class="form-submit">
                <button type="submit" class="search-submit">Search</button>
            </div>
        </form>
    </aside>
</div>