<div id="secondary" class="col-md-4 col-lg-3 site-sidebar widget-area" role="complementary">
    <aside id="search-3" class="widget box widget_search">
        <form role="search" method="get" class="search-form" action="{{ site.baseurl }}/search.html">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search …" value="" name="query" title="Search for:">
            </div>

            <div class="form-submit">
                <button type="submit" class="search-submit">Search</button>
            </div>
        </form>
    </aside>
</div>